.menu-list__link-title {
  font-weight: 300 !important;
}

.menu-list__link-title:hover {
  -webkit-text-stroke: 0.09px black;
}

.button--AeS9VbEpVeHZNRXQxV__button_BpDGiH {
  background-color: transparent;
  outline: 1px solid white !important;
  color: white;
  padding: 5px 10px;
  margin: 0;
  height: fit-content;
}

.button--AeS9VbEpVeHZNRXQxV__button_BpDGiH:hover {
  background-color: transparent;
  outline: 2px solid white !important;
  margin: 0;
  -webkit-text-stroke: 0.09px white;
}

.button-secondary {
  background-color: transparent;
  outline: 1px solid black !important;
  color: black;
  padding: 5px 10px;
  margin: 0;
  border-radius: 0;
  height: fit-content;
}

.button-secondary:hover {
  background-color: transparent;
  outline: 2px solid black !important;
  margin: 0;
  -webkit-text-stroke: 0.09px black;
}

.button,
button.shopify-payment-button__button--unbranded {
  --button-color: transparent;
  --button-background-color: transparent;
  --button-border-color: transparent;
  --button-border-width: none;
}
